{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>{{ todolist.name }}</h1>
      <p> 
        <a href="{% url "update_todolist" todolist.pk %}">Edit</a>
        <a href="{% url "delete_todolist" todolist.pk %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in todolist.items.all %}
            <tr>
              <td><a href="{% url "update_todoitem" task.id %}">{{ task}}</a></td>
              <td>{{ task.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}