{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>Update List</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button>Update</button>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}