{% extends 'base.html' %}
{% block content %}
  <main>
    <div>
      <h1>My Lists</h1>
      <div>
        <a href="{% url "create_todolist" %}">Create a new list</a>
      </div>
      <div>
        <a href="{% url "create_todoitem" %}">Create a new task</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Items</th>
          </tr>
        </thead>
        <tbody>
          {% for list in todo_lists %}
            <tr>
              <td><a href="{% url 'show_todolist' list.pk %}">{{ list.name }}</a></td>
              <td>{{list.items.all|length }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
      